$pink: #FFE6EA;
$darkerpink: #F9BFC9;
$black: #13131F;
$white: #ffffff;

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

// ANIMATION
$transition-time: 0.2s;
@mixin base-trans {
    transition: all ease-in-out $transition-time;
}

// Fonts
$custom: "Walsheim";
$family: #{$custom}, "Helvetica Neue", Helvetica, Arial, sans-serif;