
.badger-accordion__panel {
    max-height: 75vh;
    overflow: hidden;

    // scss-lint:disable ImportantRule
    &.-ba-is-hidden {
        max-height: 0 !important;
        visibility: hidden;
    }

    // transition is added via `badger-accordion--initalised` to stop animation on initalition
    .badger-accordion--initalised & { transition: max-height ease-in-out 0.2s; }
}

.js-badger-accordion-header {
    font-size: 5.5vw;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    appearance: none;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    cursor: pointer;
    position: relative;
    padding-left: 1rem;
    transition: all $transition-time ease-in-out;
    width: 100%;
    text-align: left;
    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-right: 1rem;
        border-top: .35em solid transparent;
        border-bottom: .35em solid transparent;
        border-left: .5em solid currentColor;
        transition: transform $transition-time linear;
    }
    &:active, &:focus {
        outline: none;
        border: none;
    }
    &.-ba-is-active {
        &:before {
            transform: rotate(90deg);
        }
    }
    &:hover, &.-ba-is-active {
        letter-spacing: 1vh;
    }
}

.badger-accordion__panel {
    margin: 0;
    transition: max-height ease-in-out $transition-time;
}
// .js-Accordion-content {
//   height: 0;
//   overflow: hidden;
//   transition: all .3s linear;
// }

.js-badger-accordion-panel-inner {
    @include base-trans;
}

.accordion-section {
    // width: 100%;
    padding: 0 2rem 2rem 2rem;
}

.accordion-section--value {
    margin-right: 0;
    text-align: center;
}

.accordion-section--title {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.value-title {
    text-transform: uppercase;
    font-size: 3.375rem;
}

.accordion-section--image {
    width: 100%;
}

.gallery-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.gallery-item {
    margin-bottom: 2rem;
    width: 45%;
}

.gallery-item--title {
    margin-bottom: 0;
    margin-top: 1rem;
}

.gallery-item--subtitle {
    margin-top: 0;
    font-size: 1.3125rem;
    font-weight: normal;
}

.gallery-item--placeholder {
    width: 100%;
    height: 250px;
    background-color: $black;
}



@media screen and (min-width: $md) {

    .js-badger-accordion-header {
        padding-left: 3rem;
        &:before {
            margin-right: 2rem;
        }
        &:hover, &.-ba-is-active {
            letter-spacing: 1vh;
        }
    }

    .js-badger-accordion-panel-inner {
        white-space: nowrap;
        overflow-x: scroll;
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    .accordion-section {
        margin-right: 12rem;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        max-width: 630px;
        white-space: normal;
    }
    .accordion-section--intro, .accordion-section--image {
        margin-left: 9rem;
        margin-right: 20rem;
    }

    .accordion-section--image {
        max-width: 800px;
    }

    .accordion-section--gallery {
        max-width: none;
    }

    .accordion-section--image-lg {
        max-width: 1000px;
    }

    .accordion-section--image-xl {
        max-width: 1200px;
    }

    .accordion-section--no-margins {
        margin-right: 0;
    }

    .accordion-section--2 {
        padding-top: 8rem;
    }

    .accordion-section--4 {
        padding-top: 6rem;
    }

    .accordion-section--bottom {
        vertical-align: bottom;
    }

    .accordion-section--middle {
        padding-top: 12rem;
    }

    .accordion-section--bold {
        padding-top: 4rem;
    }

    .accordion-section--serve {
        padding-top: 16rem;
    }

    .accordion-section--care {
        padding-top: 8rem;
    }

    .accordion-section--quote {
        max-width: 900px;
        margin-right: 4rem;
        .column {
            margin-right: 4rem;
        }
    }

    .accordion-section--column {
        min-width: 1800px;
        columns: 2;
        p {
            // margin: 0;
        }
    }

    .accordion-section--columm-3 {
        min-width: 2000px;
        columns: 3;
        column-gap: 5rem;
    }

    .accordion-section--columm-base {
        min-width: 1200px;
        column-gap: 5rem;
        columns: 2;
    }


    .gallery-section {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }
    .gallery-item {
        width: 270px;
        margin-right: 10rem;
    }
    .gallery-item--placeholder {
        height: 300px;
    }
}

.gallery-item {
    &:nth-of-type(even) {
        margin-top: 6rem;
    }
}