
@font-face {
  font-family: $custom;
  src:  url(/fonts/GT-Walsheim-Regular.eot) format("eot");
  src:  url(/fonts/GT-Walsheim-Regular.woff) format("woff");
  src:  url(/fonts/GT-Walsheim-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: $custom;
  src:  url(/fonts/GT-Walsheim-Bold.eot) format("eot");
  src:  url(/fonts/GT-Walsheim-Bold.woff) format("woff");
  src:  url(/fonts/GT-Walsheim-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}



body {
  background: $pink;
  color: $black;
  font-family: $family;
  transition: color $transition-time linear;
  &.dark {
    background: $black;
    color: $darkerpink;
    button {
      color: $darkerpink;
    }
    .gallery-item--placeholder {
      background-color: $darkerpink;
    }
  }
  button {
      color: $black;
      transition: color $transition-time linear;
    }
}

p, ul {
  font-size: 1rem;
  line-height: 1.6;
  @media screen and (min-width: $md) {
    font-size: 1.3125rem;
  }
}

.container {
  margin: 0 auto;
  // padding: 0 6rem;
}


* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width:  $md) {
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;

  }
}

.quote {
  margin: 0;
  p {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
  }
  span {
    font-size: 1.25rem;
  }
  @media screen and (min-width: $md) {
    p {
      font-size: 3rem;
    }
  }
}

.callout {
  padding-left: 2rem;
}

.list-unstyled {
  list-style-type: none;
}

// .toggle-wrapper {
//   height: 35px;
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 1rem;
// }

input[type=checkbox]{
	height: 0;
	width: 0;
  visibility: hidden;
}

.lamp {
  cursor: pointer;
}

// label {
// 	cursor: pointer;
// 	text-indent: -9999px;
// 	width: 55px;
// 	height: 30px;
// 	background:rgba($black, .2);
// 	display: block;
// 	border-radius: 1000px;
//   position: relative;
// }

// label:after {
// 	content: '';
// 	position: absolute;
// 	top: 4px;
// 	left: 4px;
// 	width: 22px;
// 	height: 22px;
// 	background: #fff;
//   border-radius: 1000px;
// 	transition: 0.3s;
// }

// input:checked + label {
//   background:rgba($white, .2);
// }

// input:checked + label:after {
// 	left: calc(100% - 5px);
// 	transform: translateX(-100%);
// }

// label:active {
//   &:after {
//     width: 30px;
//   }
// }


@media screen and (min-width: $md ) {
  .toggle-wrapper {
    margin-bottom: 0;
  }
	.callout {
    padding-left: 8rem;
  }
}
